* {
	margin: 0
	padding 0;
}

.container{
	background: #000;
	color: #fff;
	font: 24px sans-serif;
	text-align: center;
	width:600px;
	min-height:500px;
	margin:auto;
	border:1px solid #000;
	position: relative;
	}
.page{
	width:600px;
	height:500px;	
	position: absolute;
	display: none;
	background: #000;
}
div:first-of-type{
	display:block;
	z-index: 1;
}	
div:target{
	display:block;
	z-index: 2;
}
p {
	margin: 70px 0;
}
a {
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}
.btn {
	position: absolute;
	bottom: 30%;
	border: none;
	background: #000;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	outline: 0;
}
.back {
	left: 10%;
}
.next {
	right: 10%;
}
label {
	cursor: pointer;
	margin: 0 50px;
}
input {
	cursor: pointer;
}
.fas {
	position: absolute;
	bottom: 15%;
}
.fa-frown {
	color: red;
	right: 40%;
}
.fa-smile {
	color: green;
	left: 40%;
}
input[type=text] {
	position: absolute;
	bottom: 14.8%;
	width: 30px;
	text-align: center;
	font-size: 20px;
	background: #000;
	border: none;
	cursor: none;
}
.smile {
	left: 34%;
	color: green;
}
.frown {
	color: red;
	right: 34%;
}
